.cat-hover, .cat-grey, .cat-red, .cat-blue, .cat-green, .cat-orange {
	transition: all 0.2s linear;
}
.cat-hover:not(.cat-active):hover {
	transform: scale(1.03);
}
.cat-active [class*="cat-"],
.cat-hover:not(.cat-active):hover [class*="cat-"] {
	background: rgb(44, 62, 80);
	color: white;
}
.cat-hover[class*="cat-border"]:not(.cat-active):hover {
	border: 1px solid rgb(44, 62, 80);
}

.cat-active[class*="cat-"] {
	border: 1px solid rgb(44, 62, 80);
	box-shadow: 0 0 12px 0px rgba(0,0,0,0.8);
	transform: scale(1.09);
}

/* ------------------------- */
.cat-grey {
	background: rgb(189, 195, 199);
	color: black;
}
.cat-border-grey { border: 1px solid rgb(189, 195, 199); }
.cat-border-grey .subtitle { color: rgb(169, 175, 179); }
/* ------------------------- */
.cat-red {
	background: rgb(192, 57, 43);
	color: white;
}
.cat-border-red { border: 1px solid rgb(192, 57, 43); }
.cat-border-red .subtitle { color: rgb(192, 57, 43); }
/* ------------------------- */
.cat-blue {
	background: rgb(52, 152, 219);
	color: white;
}
.cat-border-blue { border: 1px solid rgb(52, 152, 219); }
.cat-border-blue .subtitle { color: rgb(52, 152, 219); }
/* ------------------------- */
.cat-green {
	background: rgb(39, 174, 96);
	color: white;
}
.cat-border-green { border: 1px solid rgb(39, 174, 96); }
.cat-border-green .subtitle { color: rgb(39, 174, 96); }
/* ------------------------- */
.cat-orange {
	background: rgb(230, 126, 34);
	color: white;
}
.cat-border-orange { border: 1px solid rgb(230, 126, 34); }
.cat-border-orange .subtitle { color: rgb(230, 126, 34); }
/* ------------------------- */
.custom-control-label[type="checkbox"]::before,
.custom-control-label[type="radio"]::before {
	background-color: #6b757d;
}

#aspects {
	display: none;
	margin-top: 56px;
	box-sizing: border-box;
	overflow-y: scroll;
	z-index:1050;
	left:auto;
	opacity:0; 
	right: -80%;
	width: 80%!important;
}
#aspects .aspect-container {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
	box-sizing: border-box;
}
#aspects [class*="cat-"] {
	cursor: default;
}
#aspects [class*="cat-"]:not(.cat-active) {
	cursor: pointer;
}
#aspects .cat-active [class*="cat-"] { 
	cursor: default;
}

#quest-progress-wrapper {
	position: fixed;
	left:0;
	width:100%;
	z-index: 99;
}
#quest-progress .item {
	cursor: default;
	height: 5px;
	transition: 0.2s linear all;
	text-align:center;
	writing-mode: vertical-rl;
    text-orientation: sideways;
}
#quest-progress .item:hover {
	cursor: pointer;
	height: 40px;
	padding: 10px 0;
	border-radius: 0 0 5px 5px;
}
#quest-progress .item span {
	display: none;
	font-size: 1.2vw;
}
#quest-progress .item:hover span {
	display: block;	
}

.time-left {
	cursor: default;
	padding: 2px 8px;
	border-radius: 4px;
	transition: all 0.15s linear;
}
.time-left:hover {
	background: rgba(255,255,255,0.1);
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}
.dropdown-item {
	cursor: pointer;
}
#dropdown-lang.dropdown-toggle::after {
	vertical-align: 0.115em;
	color:#ccc;
}
#lang .dropdown-item.active,
#lang .dropdown-item:active {
  background-color: #e9ecef;
}

#device-not-optimized {
	display: none;
}

.min-width-multiselect { min-width: 508px; }

.popover {
	max-width: 650px;
	word-wrap:normal;
}

@media (pointer:coarse) { 
	.pc_only { display:none!important; }
	.min-width-multiselect { min-width: 165px; }
}

@media (max-width: 767.98px) {
	div#device-not-optimized { display: flex; }
}
@media (min-width: 1110px) {
	#questionnaire.container {max-width: 85%;}
	#questionnaire .container {max-width:100%}
}
@media (max-width: 992px) {
	#questionnaire.container {max-width: 98%!important;}
	#questionnaire .container {max-width:100%}
	
}
@media (max-width: 576px) { 
	#navbarHome { margin-top: 8px; }
	#navbarHome li, #new-quest {
		width: 100%;
		margin-bottom: 8px;
	}
	#dropdown-version {
		width: 100%;
	}
}