.cat-hover, .cat-grey, .cat-red, .cat-blue, .cat-green, .cat-orange {
	transition: all 0.2s linear;
}
.cat-hover:not(.cat-active):hover {
	transform: scale(1.03);
}
.cat-active [class*="cat-"],
.cat-hover:not(.cat-active):hover [class*="cat-"] {
	background: rgb(44, 62, 80);
	color: white;
}
.cat-hover[class*="cat-border"]:not(.cat-active):hover {
	border: 1px solid rgb(44, 62, 80);
}

.cat-active[class*="cat-"] {
	border: 1px solid rgb(44, 62, 80);
	box-shadow: 0 0 12px 0px rgba(0,0,0,0.8);
	transform: scale(1.09);
}


.cat-grey {
	background: rgb(189, 195, 199);
	color: black;
}
.cat-border-grey { border: 1px solid rgb(189, 195, 199); }

.cat-red {
	background: rgb(192, 57, 43);
	color: white;
}
.cat-border-red { border: 1px solid rgb(192, 57, 43); }

.cat-blue {
	background: rgb(52, 152, 219);
	color: white;
}
.cat-border-blue { border: 1px solid rgb(52, 152, 219); }

.cat-green {
	background: rgb(39, 174, 96);
	color: white;
}
.cat-border-green { border: 1px solid rgb(39, 174, 96); }

.cat-orange {
	background: rgb(230, 126, 34);
	color: white;
}
.cat-border-orange { border: 1px solid rgb(230, 126, 34); }

.custom-control-label[type="checkbox"]::before,
.custom-control-label[type="radio"]::before {
	background-color: #6b757d;
}

#aspects {
	display:none;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 56px;
	box-sizing: border-box;
	overflow-y: auto;
	z-index:1072;
	opacity:0;
	left:auto;
	right: -80%;
	width: 80%!important;
}
#aspects [class*="cat-"] {
	cursor: default;
}
#aspects [class*="cat-"]:not(.cat-active) {
	cursor: pointer;
}
#aspects .cat-active [class*="cat-"] { 
	cursor: default;
}


#device-not-optimized {
	display: none;
}

@media (pointer:coarse) { 
	.pc_only { display:none!important; }
}

@media (max-width: 767.98px) {
	div#device-not-optimized { display: flex; }
}
@media (min-width: 1110px) {
	#questionnaire.container {max-width: 85%;}
	#questionnaire .container {max-width:100%}
}
@media (max-width: 992px) {
	#questionnaire.container {max-width: 98%!important;}
	#questionnaire .container {max-width:100%}
	
}
@media (max-width: 576px) { 
	#navbarHome { margin-top: 8px; }
	#navbarHome li, #new-quest {
		width: 100%;
		margin-bottom: 8px;
	}
	#dropdown-version {
		width: 100%;
	}
}