Options +FollowSymlinks
RewriteEngine On

# INDEX
RewriteRule	^home/?$ index.php [NC,L]
RewriteRule ^scores/?$ index.php?score [NC,L]
RewriteRule ^scores/data/([A-Za-z0-9+/=]+)/refresh/?$ index.php?score&refresh&setData=$1 [L]
RewriteRule ^scores/data/([A-Za-z0-9+/=]+)/?$ index.php?score&setData=$1 [L]

RewriteRule ^scores/refresh/?$ index.php?score&refresh [L]


# ADMIN PANEL
RewriteRule ^admin/?$ admin.php [NC,L]
RewriteRule ^admin/logout/?$ admin.php?logout [NC,L]
RewriteRule ^admin/err/([0-9]+)/?$ admin.php?err=$1 [NC,L]
RewriteRule ^admin/dashboard/?$ admin.dashboard.php [NC,L]
RewriteRule ^admin/dashboard/translate/([0-9a-zA-Z_-]+)/?$	admin.dashboard.php?page=translate&tab=$1 [L]
RewriteRule ^admin/dashboard/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+)/?$	admin.dashboard.php?page=$1&display=$2 [L]

RewriteRule ^admin/dashboard/([0-9a-zA-Z-_]+)/?$ admin.dashboard.php?page=$1 [L]


# Redirige sur index.php lorsque la page demandée n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php?error=404&request={REQUEST_FILENAME} [L]


